server:
  port: 3000
environments:
  development:
    server:
      port: 3500
  developmentAdditions:
    debug: true
  production:
    server:
      port: 80
  test:
    server:
      port: 8080
    message: 'hello'
